<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Tech Apple</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon.png' %}">
    <!-- Pignose Calender -->
    <link href="{% static './plugins/pg-calendar/css/pignose.calendar.min.css'%}" rel="stylesheet">
    <!-- Chartist -->
    <link rel="stylesheet" href="{% static './plugins/chartist/css/chartist.min.css'%}">
    <link rel="stylesheet" href="{% static './plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css' %}">
    <!-- Custom Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon.png' %}">
    <link href="{% static './plugins/fullcalendar/css/fullcalendar.min.css'%}" rel="stylesheet">

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="{% url 'index' %}">
                    <b class="logo-abbr"><img src="images/logo.png" alt=""> </b>
                    <span class="logo-compact"><!--img src="{% static './images/logo-compact.png'%}" alt=""--></span>
                    <span class="brand-title">
                        <!--img src="{% static 'images/logo-text.png' %}" alt=""-->
                    </span>
                </a>
            </div>
        </div>
        
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->
        <div class="header">    
            <div class="header-content clearfix">
                
                
                <div class="header-left">
                    <div class="input-group icons">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1"><i class="mdi mdi-magnify"></i></span>
                        
                       
                        
                            <form class="form-valid" method="POST">
                                {% csrf_token %}
                                <input type="search" class="form-control" name="search" placeholder="Search">
                            
                        </div>
                        <div class="header-left">
                            <label class="col-lg-2">
                                <input type="submit" value="SEARCH" class="btn mb-1 btn-flat btn-outline-primary">
                                
                                </label>
                        </div>
                    </form>
                    </div>
                </div>
                
            </div>
        </div>
        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="nk-sidebar">           
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label"><h4>REGISTRATION</h4></li>
                    
                    <li><a href="{% url 'registration' %}">EMPLOYEE</a>
                    </li>
                    <li><a href="{% url 'signup' %}">ADMIN</a>
                    </li>
                    
                    <br>
                    <li class="nav-label"><h4>VIEW</h4></li>
                    <li><a href="{% url 'display' %}">EMPLOYEE</a>
                    </li>
                    <li><a href="{% url 'user' %}">USER</a>
                    </li>
                    <li><a href="{% url 'attendance_display' %}">ATTENDANCE</a>
                    </li>
                    <li><a href="{% url 'inbox' %}">MESSAGE</a>
                    </li>
                    </li>
                    <li><a href="{% url 'ex_employee' %}">EX EMPLOYEE</a>
                    </li>
                    <li><a href="{% url 'search' %}">SEARCH</a>
                    </li>
                    <li>
                        <li class="nav-label"><hr></li>
                   
                    <li><a href="{% url 'logout' %}">SIGNOUT</a>
                    </li>

                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <!--div class="row page-titles mx-0">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
                    </ol>
                </div>
            </div-->
            <!-- row -->

            <div class="container-fluid">
                <div class="row">
                    
                    <!-- /# column -->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title">
                                    <h4></h4>
                                </div>
                                <div class="table-responsive">
                                {% if messages %}
                                    <ul class="messages">
                                    {% for message in messages %}
                                        <li>{{ message }}</li>
                                    {% endfor %}
                                    </ul>
                                {% endif %}
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            {% if srh %}
                                            <tr>
                                                <th></th>
                                                <th>ID</th>
                                                <th>Name</th>
                                                <th>Department</th>
                                                <th>Position</th>
                                                <th></th>
                                                <th></th>
                                                
                                            </tr>
                                        </thead>
                                        {% for i in srh %} 
                                        <tbody>
                                            <tr>
                                                <th><img  src="{{ i.photo.url }}" alt="Generic placeholder image" height="50px" width="80px"></th>
                                                <th>{{i.emp_id}}</th>
                                                <td>{{i.name}}</td>
                                                <td>{{i.depaetment}}</td>
                                                <td>{{i.position}}</td>
                                                <th><a href="{% url 'view' i.pk %}"><span class="badge badge-primary px-2">View</span></a></th>
                                                <th><a href="{% url 'edit' i.pk %}"><span class="badge badge-success px-2">Edit</span></a></th>
                                                <th><a href="{% url 'employee_delete' i.pk %}"><span class="badge badge-danger px-2">Delete</span></a></th>
                                            </tr>
                                        </tbody>
                                        {% endfor %}
                                        {% endif %} 
                                    </table>
                                </div>
                                
                            </div>
                        </div>
                        <!-- /# card -->
                    </div>
                    
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        
        
        <!--**********************************
            Footer start
        ***********************************-->
        
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="{% static 'plugins/common/common.min.js' %}"></script>
    <script src="{% static 'js/custom.min.js'%}"></script>
    <script src="{% static 'js/settings.js' %}"></script>
    <script src="{% static 'js/gleek.js' %}"></script>
    <script src="{% static 'js/styleSwitcher.js' %}"></script>

    <!-- Chartjs -->
    <script src="{% static './plugins/chart.js/Chart.bundle.min.js'%}"></script>
    <!-- Circle progress -->
    <script src="{% static './plugins/circle-progress/circle-progress.min.js'%}"></script>
    <!-- Datamap -->
    <script src="{% static './plugins/d3v3/index.js'%}"></script>
    <script src="{% static './plugins/topojson/topojson.min.js'%}"></script>
    <script src="{% static './plugins/datamaps/datamaps.world.min.js'%}"></script>
    <!-- Morrisjs -->
    <script src="{% static './plugins/raphael/raphael.min.js'%}"></script>
    <script src="{% static './plugins/morris/morris.min.js'%}"></script>
    <!-- Pignose Calender -->
    <script src="{% static './plugins/moment/moment.min.js'%}"></script>
    <script src="{% static './plugins/pg-calendar/js/pignose.calendar.min.js'%}"></script>
    <!-- ChartistJS -->
    <script src="{% static './plugins/chartist/js/chartist.min.js'%}"></script>
    <script src="{% static './plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js'%}"></script>
    <script src="{% static './plugins/fullcalendar/js/fullcalendar.min.js'%}"></script>
    <script src="{% static './js/plugins-init/fullcalendar-init.js'%}"></script>


    <script src="{% static './js/dashboard/dashboard-1.js'%}"></script>

</body>

</html>